<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cardio: Free One Page Template by Luka Cvetinovic</title>
    <meta name="description" content="Cardio is a free one page template made exclusively for Codrops by Luka Cvetinovic" />
    <meta name="keywords" content="html template, css, free, one page, gym, fitness, web design" />
    <meta name="author" content="Luka Cvetinovic for Codrops" />
    <!-- Favicons (created with http://realfavicongenerator.net/)-->
    <link rel="apple-touch-icon" sizes="57x57" href="/app/local/web/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/app/local/web/img/favicons/apple-touch-icon-60x60.png">
    <link rel="icon" type="image/png" href="/app/local/web/img/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/app/local/web/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/app/local/web/img/favicons/manifest.json">
    <link rel="shortcut icon" href="/app/local/web/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00a8ff">
    <meta name="msapplication-config" content="/app/local/web/img/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Normalize -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/normalize.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/bootstrap.css">
    <!-- Owl -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/owl.css">
    <!-- Animate.css -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/fonts/font-awesome-4.1.0/css/font-awesome.min.css">
    <!-- Elegant Icons -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/fonts/eleganticons/et-icons.css">
    <!-- Main style -->
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/cardio.css">
    <link rel="stylesheet" type="text/css" href="/app/local/web/css/reg.css">
</head>

<body>
<?php echo $content;?>
<!-- Scripts -->
<script src="/app/local/web/js/jquery-1.11.1.min.js"></script>
<script src="/app/local/web/js/owl.carousel.min.js"></script>
<script src="/app/local/web/js/bootstrap.min.js"></script>
<script src="/app/local/web/js/wow.min.js"></script>
<script src="/app/local/web/js/typewriter.js"></script>
<script src="/app/local/web/js/jquery.onepagenav.js"></script>
<script src="/app/local/web/js/main.js"></script>
</body>

</html>